[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromecast2mqtt = {editable = true,path = "."}
pychromecast = "==4.1.1"
pytest = "==5.3.5"

[dev-packages]
"pytest" = "*"

[requires]
python_version = "3.7"
